.w3-theme-l5 {color:#000 !important; background-color:#fdeeec !important}
.w3-theme-l4 {color:#000 !important; background-color:#fac5c1 !important}
.w3-theme-l3 {color:#000 !important; background-color:#f48b83 !important}
.w3-theme-l2 {color:#fff !important; background-color:#ef5145 !important}
.w3-theme-l1 {color:#fff !important; background-color:#dd2113 !important}
.w3-theme-d1 {color:#fff !important; background-color:#90150c !important}
.w3-theme-d2 {color:#fff !important; background-color:#80130b !important}
.w3-theme-d3 {color:#fff !important; background-color:#70110a !important}
.w3-theme-d4 {color:#fff !important; background-color:#600e08 !important}
.w3-theme-d5 {color:#fff !important; background-color:#500c07 !important}

.w3-theme-light {color:#000 !important; background-color:#fdeeec !important}
.w3-theme-dark {color:#fff !important; background-color:#500c07 !important}
.w3-theme-action {color:#fff !important; background-color:#500c07 !important}

.w3-theme {color:#fff !important; background-color:#9d170e !important}
.w3-text-theme {color:#9d170e !important}
.w3-border-theme {border-color:#9d170e !important}

.w3-hover-theme:hover {color:#fff !important; background-color: #ba190e !important}
.w3-hover-text-theme:hover {color:#9d170e !important}
.w3-hover-border-theme:hover {border-color:#9d170e !important}

.w3-theme-bg{background-color: #f7f7f7;}
.w3-theme-btn{ min-width: 150px;}

.w3-theme-button {color:#fff !important; background-color:#9d170e !important}
.w3-theme-button:hover {color: #ffd432 !important; background-color: #ba190e !important}

/*.w3-button:hover {background-color: #7c7c7c}*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*{/*padding:0;margin:0;*/}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
}
.my-float{
    margin-top:22px;
}
